body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.bg-custom {
    background-color: white;
}

.card-shadow:hover {
    background-color: #ffc107 !important;
    color: whitesmoke !important;
    cursor: pointer !important;
}

.border {
    border-bottom: 1px gray;
}

.botonimagen {
    height: 50px;
    width: 50px;
    background-position: center;
    border-radius: 45px;
    border: none;
}

.botonborder {
    border: none;
    background-color: white;
    border-radius: 45px;
}